.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans"
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#header {
  text-align: center;
  font-family: "Raleway";
  color: #0081FF;
  margin: 0;
  padding: 30px;
  padding-bottom: 60px;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  display: inline-block;
}

#header-link {
  text-decoration: none;
}

button.circle {
  border-radius: 35px;
  padding: 35px;
}

.button-content{
  position: absolute;
  top: 52%;
  left: 65px;
}

li:last-of-type{
  margin-bottom: 10px;
}